{
	"printWidth": 120,
	"jsxBracketSameLine": false,
	"singleQuote": true,
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"arrowParens": "always"
}
