.About {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #1c1c1c;
	z-index: 1;
}

.About-header {
	padding: 0 10%;
	cursor: pointer;
	font-size: 3.5rem;
	align-items: flex-end;
}

.About-header-more {
	border-bottom: 1px solid;
	padding-right: 1.2rem;
	padding-left: 2rem;
}

.About-header-me {
	background-color: #1c1c1c;
	transform: translateX(-15rem);
	transition: transform 0.45s ease-out;
	will-change: transform;
	border-bottom: 1px solid;
	padding-right: 2rem;
}

.more .About-header-me {
	transform: translateX(0);
}

.arrow {
	width: 0;
	height: 0;
}

.arrow__left {
	border-bottom: 0.6rem solid #fff;
	border-left: 1.2rem solid transparent;
	opacity: 0;
	transition: opacity 0.1s ease-out 0.45s;
}

.arrow__right {
	border-bottom: 0.6rem solid #fff;
	border-right: 1.2rem solid transparent;
	transform: translateX(-15rem);
	transition: transform 0.45s ease-out 0s, opacity 0.1s ease-out 0.45s;
	will-change: transform, opacity;
}

.more .arrow__right {
	transform: translateX(0);
	opacity: 0;
}

.more .arrow__left {
	opacity: 1;
}

.About-inner {
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.more .parallax-1,
.more .parallax-2 {
	transform: translateX(calc(50vw + 50%));
}

.more .About-section__quote {
	transform: translateX(calc(-50vw - 50%));
}

.About-more-container {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #212121;
}

.About-more-text {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: 70vh;
	padding-right: 4rem;
	visibility: hidden;
}

.About-more-text-wrapper {
	overflow: hidden;
	margin: 1rem 0;
}

.About-more-text-wrapper p {
	margin: 0;
	max-width: 30vw;
	font-size: 1.2rem;
	transform: translateY(-100%);
	will-change: transform;
}

.About-more-text .About-more-text-wrapper:nth-child(1) p {
	transition: transform 0.5s ease-in-out 1s;
}

.About-more-text .About-more-text-wrapper:nth-child(2) p {
	transition: transform 0.5s ease-in-out 1.5s;
}

.About-more-text .About-more-text-wrapper:nth-child(3) p {
	transition: transform 0.5s ease-in-out 2s;
}

.About-more-text .About-more-text-wrapper:nth-child(4) p {
	transition: transform 0.5s ease-in-out 2.5s;
}

.more .About-more-text {
	visibility: visible;
}

.more .About-more-text-wrapper p {
	transform: translateY(0);
}

.About-more-photos-wrapper {
	flex: 3;
	height: 70vh;
	visibility: hidden;
}

.About-more-photos {
	position: relative;
	width: 70%;
	height: 100%;
	overflow: hidden;
}

.more .About-more-photos-wrapper {
	visibility: visible;
}

.About-more-photos::after {
	content: "";
	background-color: #212121;
	position: absolute;
	height: calc(100% / 2.5);
	width: calc(100% / 11.5);
	z-index: 5;
}

.About-more-photos::before {
	content: "";
	background-color: #212121;
	position: absolute;
	height: calc(100% / 3.286);
	width: calc(100% / 3.286);
	right: 0;
	z-index: 5;
}

.About-more-photos .mask {
	position: absolute;
	background-color: #1c1c1c;
	opacity: 0.55;
	width: 0;
	z-index: 5;
	transition: width 0.5s ease-in-out 1s;
}

.About-more-photos .mask0 {
	left: 0;
	top: calc(100% / 2.5);
	height: calc(100% - 100% / 2.5);
}

.About-more-photos .current .mask0 {
	width: 40%;
}

.About-more-photos .mask1 {
	left: 0;
	top: calc(100% / 1.5);
	height: calc(100% - 100% / 1.5);
}

.About-more-photos .current .mask1 {
	width: 100%;
}

.About-more-photos .mask2 {
	right: 0;
	top: calc(100% / 3.286);
	height: calc(100% / 3.286);
}

.About-more-photos .current .mask2 {
	width: calc(100% / 3.286);
}

.About-more-photos .mask3 {
	left: 0;
	top: 0;
	height: calc(100% / 2.5);
}

.About-more-photos .current .mask3 {
	width: 100%;
}

.About-more-photos .current {
	transform: translateX(0);
	z-index: 1;
}

.About-more-photos .pre {
	transform: translateX(-100%);
	z-index: 0;
}

.About-more-photos .after {
	transform: translateX(100%);
}

.About-more-photos li {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
	transition: transform 1s cubic-bezier(0.55, 0.33, 0.01, 1.01);
	will-change: transform;
}

.About-more-photos li:nth-child(1) {
	background-image: url("./images/show1.png");
	filter: brightness(0.8) grayscale(50%);
}

.About-more-photos li:nth-child(2) {
	background-image: url("./images/show2.png");
	filter: brightness(0.8) grayscale(40%);
}

.About-more-photos li:nth-child(3) {
	background-image: url("./images/show3.png");
	filter: brightness(0.8) grayscale(80%);
}

.About-more-photos li:nth-child(4) {
	background-image: url("./images/show4.png");
	filter: brightness(0.8) grayscale(80%);
}

.About-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	transform: translateX(0);
	transition: transform 0.8s ease-out;
	will-change: transform;
}

.About-section p {
	z-index: 2;
	width: 70vw;
	font-size: 1.5rem;
}

.About-section__quote {
	font-style: italic;
	margin: 0;
	flex: 1;
	background-color: #212121;
}

.About-section__quote p {
	font-size: 1.2rem;
	margin: 0;
}

.About-section__quote p:last-child {
	text-align: right;
}

.About-section-parallax {
	width: 100%;
	height: 100%;
	position: absolute;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: brightness(0.45) grayscale(50%);
}

.parallax-1 {
	flex: 3;
}

.parallax-1 .About-section-parallax {
	background-image: url("./images/coding1.jpg");
}

.parallax-2 {
	flex: 4;
}

.parallax-2 .About-section-parallax {
	background-image: url("./images/coding2.jpg");
}

@keyframes blink {
	from {
		opacity: 0.2;
	}
	to {
		opacity: 1;
	}
}
