.App {
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.section-title {
  display: flex;
}

.section-title h3 {
  width: 50%;
}

h4,
h5 {
  margin: 0;
}
