.App-nav {
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 100;
  width: 13em;
  transform: translateY(-50%);
}

.App-nav-item {
  height: 3rem;
}

.App-nav-item a {
  width: 100%;
  height: 3rem;
  display: flex;
  color: #ccc;
  font-size: 1.1rem;
  text-decoration: none;
  position: absolute;
  transform: translateX(9rem);
  align-items: center;
  transition: transform 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  will-change: transform;
}

.App-nav-item a:hover {
  transform: translateX(0);
}

.App-nav-item span {
  display: inline-block;
  padding-bottom: 0.3rem;
  position: relative;
}

.nav-item_number {
  width: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.nav-item_number::after {
  border-bottom: 0.3rem solid #bbb;
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -0.1rem;
}

.nav-item_name {
  flex: 1;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}

.nav-item_name::after {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  content: '';
  border-bottom: 0.1rem solid #ccc;
}
