.SectionHeader {
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  color: #ffffff;
  text-transform: uppercase;
  margin: 1rem 0;
  letter-spacing: 0.4rem;
  display: flex;
  align-items: center;
  min-height: 6rem;
}

.SectionHeader label {
  font-family: 'Lobster', cursive;
  margin: 0 2rem 0 4rem;
  letter-spacing: 1rem;
}
